{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h2 class="p-4">Register</h2>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Enter email" type="email">
        </div>
        <hr>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <hr>
        <div class="form-group">
            <small class="form-text text-muted">I am a...</small>
            <select class="form-control" name="role">
              <option disabled selected>Select role...</option>
              <option>Programmer</option>
              <option>Artist</option>
              <option>Composer</option>
              <option>Game Designer</option>
              <option>Game Tester</option>
            </select>
        </div>
        <button class="btn btn-dark" type="submit">Register</button>
    </form>
{% endblock %}